.todoContainer{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem;
    width: 50%;
}
.fieldsetKlass{
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 60%;
}
.gradeContainer{
    display: flex;
   justify-content:space-between;
}